In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'X:\home\serge\2_docker_sql\taxi+_zone_lookup.csv')

In [3]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
print(pd.io.sql.get_schema(df,name='taxi_zones_lookup'))

CREATE TABLE "taxi_zones_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [5]:
from sqlalchemy import create_engine

In [10]:
engine= create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [13]:
pd.io.sql.get_schema(df,name='taxi_zones_lookup',con=engine)

'\nCREATE TABLE taxi_zones_lookup (\n\t"LocationID" BIGINT, \n\t"Borough" TEXT, \n\t"Zone" TEXT, \n\tservice_zone TEXT\n)\n\n'

In [15]:
create_sql = pd.io.sql.get_schema(df,name='taxi_zones_lookup',con=engine)

engine.execute(create_sql)

In [16]:
q = """
select *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' 
AND schemaname != 'information_schema'"""

pd.read_sql(q, con =engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,taxi_zones_lookup,root,None,False,False,False,False
1,public,yellow_taxi_trips,root,None,True,False,False,False

In [17]:
df.to_sql(name='taxi_zones_lookup',con=engine,if_exists='replace')